
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500;700&family=Ribeye&family=Roboto:wght@400;500&display=swap');

/* font-family: "Gelasio",serif;
font-family: "Ribeye", serif;
font-family: "Roboto",sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration:none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

}

.bg-orange {
    background: #C9453B;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.ff-gelassio {
    font-family: "Gelasio", serif;
    font-weight: 500;
}

.inner-title {
    font-size: 43px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.inner-subtitle {
    opacity: 0.6;
    text-align: center;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #000;
}

.owerlay {
    overflow-y: hidden;
}


.header {
    background: rgba(0, 0, 0, 0.3) url(../img/Background/Man_with_telescope.jpg) no-repeat center;
    background-size: cover;
    padding: 35px 0 244px 0;
}

.container {
    max-width: 1145px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header-logo {
    font-family: "Ribeye", cursive;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-list + .menu-list {
    margin-left: 50px;
}

.menu-link:hover {
    text-decoration: underline;
}

.btn-header {
    display: block;
    width: 163px;
    padding: 14px 0 13px 0;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-mobile{
    display: none;
}

.btn-header:hover {
    opacity: 0.75;
}

.mobile-menu{
    display: none;
    z-index: 4;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.mobile-menu span {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #C9453B;
    transition: all 0.4s ease;
}

.mobile-menu span:last-child {
    bottom: 0;
}

.mobile-menu span:last-child.active,  
.mobile-menu span:first-child.active {
    opacity: 0;
}

.mobile-menu span:nth-child(2), 
.mobile-menu span:nth-child(3) {
    top: 50%;
}

.mobile-menu span:nth-child(2).active {
    transform: rotate(45deg);
}
 
.mobile-menu span:nth-child(3).active {
    transform: rotate(135deg);
}

.header-bottom {
    margin-top: 250px;
}

.header-bottom-title {
    font-family: "Gelasio", serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    color: #fff;
    width: 804px;
}

.header-bottom-text {
    color: #fff;
    width: 458px;
    margin: 30px 0 40px 0;
}

.header-bottom-link {
    display: block;
    width: 187px;
    text-align: center;
    padding: 18px 0 17px 0;
    transition: all 0.3s ease;

}

.header-bottom-link:hover {
    opacity: 0.8;
}


/*----------------------- Section - location -----------------------*/
.location {
    padding: 140px 0;
}

.location-subtitle {
    width: 735px;
    margin: 0 auto;
}

.location-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.location-block {
    width: 360px;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.location-block:hover {
   box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.15);
}

.location-block-title {
    font-size: 24px;
    line-height: 36px;
    margin: 35px 0 10px 0;
}


.location-block:first-child .location-block-text {
    padding: 0 27px 33px 27px;
    opacity: 0.6;
}

.location-block:nth-child(2) .location-block-text {
    padding: 0 34px 33px 37px;
    opacity: 0.6;
}

.location-block:last-child .location-block-text {
    padding: 0 13px 33px 13px;
    opacity: 0.6;
}

/*----------------------- Section - slider -----------------------*/
.slider {
    padding-bottom: 57px;
}

.slider-subtitle {
    max-width: 656px;
    margin: 0 auto 60px auto;
}

.sliders__block-wrapper {
    width: 262px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
}

.sliders__block-wrapper img{
    border-radius: 10px;
}

.sliders__block-wrapper:hover {
    opacity: 0.6;
}

.sliders_block-title {
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0 8px 0;
}

.sliders__block-location {
    padding-left: 21px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.sliders__block-location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 11px;
    height: 16px;
    background: url(../img/Special_Offers/location.svg);
}

.sliders__block-star {
    padding-left: 34px;
    background: url(../img/Special_Offers/Star\ 2.svg) no-repeat left center;
    margin-left: 50px;
}

.sliders__block-booking {
    margin: 8px 0 8px 0;
    color: rgba(0, 0, 0, 0.6);
}

.sliders__block-price {
    font-weight: 500;
}

.sliders__block-price span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 24px;
}

.btn-slider {
    position: absolute;
    z-index: 10;
}

.btn-slick-prev {
    bottom: -55px;
    left: 28%;
}

.btn-slick-next{
    bottom: -55px;
    right: 28%;
}

.slick-dots {
    position: absolute;
    bottom: -52px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.slick-dots li {
    font-size: 0;
    line-height: 0;
    border-radius: 2px;
    background: rgb(201, 69, 59, 0.1);
    width: 75px;
    height: 5px;
    transition: 0.4s;
}

.slick-dots li:not(last-chilg){
    margin-right: 5px;

}

.slick-dots li button{
    font-size: 0;
    line-height: 0;
    border: none;
}

.slick-dots li.slick-active{
    background-color: #C9453B;
}

/*----------------------- News - section -----------------------*/
.news {
    padding: 140px 0 142px 0;
}

.news-subtitle {
    width: 581px;
    margin: 0 auto 56px auto;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
}

.news__left {
    width: 554px;
}

.news-left-title {
    font-size: 20px;
    line-height: 32px;
    margin: 35px 0 10px 0;
}

.news-left-text {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.news_left-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.news__right {
    width: 539px;  
}

.news__right-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__right-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.news__right-img {
    width: 263px;
}

.news__right-content {
    width: 247px;
}

.news__right-title {
    font-size: 20px;
    line-height: 30px;
}

.news__right-text {
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0 8px 0;
}

.news__right-link {
    color: rgba(0, 0, 0, 0.8);
}

/*----------------------- Footer -----------------------*/
.footer {
    background: rgb(38, 148, 153, 0.04);
    padding: 70px 0 78px 0;
}

.footer_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.footer__logo {
    font-family: "Ribeye", cursive;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}

.footer__title {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.06em;

}

.footer__link {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.06em;
    margin: 10px 0 20px 0;
    display: block;
}

.footer_social {
    display: flex;

}

.footer_social li:not(:first-child) {
    margin-left: 27px;
}

.footer__list li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
}

.footer__list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__subscribe-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.06em;
    margin-bottom: 42px;
}

.footer__form {
    width: 333px;
    display: flex;
    justify-content: space-between;
}

.input-email {
    width: 195px;
    border: 1px solid #00000010;
    box-shadow: 0px 0px 4px 1px #00000010;
    border-radius: 5px;
    padding: 10px 20px;
    background: none;
}

.footer__btn {
   width: 103px; 
   padding: 10px 0;
}

.footer__btn:hover {
    opacity: 0.75;
}